html {
    height: 100%;
}

body {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(53, 51, 51) 78.9%);
    background-attachment: fixed;
}

.navigation-bar {
    width: 100%;
    background-color: #121212;
    position: sticky;
}

header > p {
    color: #adb5bd;
}

.active {
    background-color: #6200EE !important;
}

.nav-link {
    color: white;
    
}

.nav > li > a:hover {
    color: #adb5bd;
}

.jumbotron-head {
    min-height: 75vh;
}

code {
    color: #BB86FC;
}

#typing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
}

.heading-text {
    color: #ffffff !important;
}

.typed-cursor {
    padding-left: 5px;
    color: white;
    font-size: 34px;
}

.heading-desc {
    color: #adb5bd;
}

.test {
    color: white;

}

.section-heading {
    color: white;
    width: 25%;
    text-align: center;
}

#project-heading {
    width: 10%;
}

#experience {
    padding-top: 90px !important;
    margin-top: -90px !important;
}

#centering {
    display: flex;
    justify-content: center;
    align-items: center;
}

#experience-container {
    display: grid;

    min-height: 1000px;
    max-height: 100%;
    min-width: 1000px;

    grid-template-columns: 8fr 1fr 8fr;
    grid-template-rows: 1fr 1fr;
    gap: 0;
}

#line-cell {
    display: flex;
    justify-content: center;
    grid-row: span 2;
    align-items: center;

    padding-top: 10%;
    padding-bottom: 10%;
}

#vertical-line {
    height: 95%;
    width: 5px;
    background-color: #ffffff;
    opacity: 0.5;
    border-radius: 40% / 2px;
}

.title-cell {
    max-width: 470px;
    max-height: 400px;
    text-align: right;
    color: #ffffff;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description-cell {
    max-width: 440px;
    max-height: 400px;
    color: #ffffff;
    padding-top: 2.5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-content {
    margin-top: 0;
    margin-bottom: 0;
}

.tech-image {
    max-height: 250px;
    max-width: 300px;
    border-radius: 4%;
}

.pres-image {
    max-height: 400px;
    max-width: 300px;
    border-radius: 4%;
}

#projects {
    padding-top: 90px !important;
    margin-top: -90px !important;
}

#project-album {
    background-color: transparent !important;
    min-height: 800px;
}

.card {
    background-color: #222222 !important;
    color: #adb5bd;
}

.view-button {
    color: #adb5bd;
}

.view-button:hover {
    background-color: #6200EE;
}

.featurette-image {
    border-radius: 2% 2% 0 0;
}

footer span {
    color: #adb5bd !important;
}

li > svg {
    background-color: white !important;
}



@media (min-width: 319px) and (max-width: 480px) {

    #name-heading {
        display: none !important;
    }

    .nav > li {
        font-size: 13px;
    }

    #centering {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .section-heading {
        width: 80%;
        text-align: center;
    }

    #project-heading {
        width: 30%;
    }

    #experience-container {
        display: flex;
        flex-direction: column;
        min-width: 100%;
        max-width: 100%;

        min-height: 100%;
        max-height: 100%;

        justify-content: start;
        align-items: center;
    }

    #vertical-line {
        display: none !important;
    }

    .description-cell {
        display: none !important;
    }

    #line-cell {
        display: none !important;
    }

    .pres-image {
        display: none !important;
    }

    .tech-image {
        display: none !important;
    }

    .title-cell {
        text-align: center;
        height: 100%;
    }

    #title-1 {
        text-align: center;
        padding-bottom: 100px;
    }

    #title-2 {
        text-align: center;
        padding-bottom: 250px;
    }


}