.jumbotron-head {
    background: linear-gradient(175deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
    min-height: 50vh;
}

code {
    color: #BB86FC;
}

.heading-text {
    color: #ffffff !important;
}

.heading-desc {
    color: #adb5bd;
}